.add-quote-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  .add-quote-form {
    border-radius: 10px;
    background-color: #F3E5F5;
    height: 380px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.4);

    .input-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .your-quote-label {
        text-shadow: 0 1px #E1BEE7;
        margin-bottom: 7px;
      }

      .quote-textarea {
        width: 100%;
        height: 60px;
        resize: none;
        outline: none;
        border: 1px solid #CE93D8;
        border-radius: 3px;
        transition: border .5s;
        font-size: 17px;

        &.active {
          border: 2px solid #CE93D8;
        }
      }
    }

    .quote-preview {
      width: 175px;
      height: 80px;
      font-style: italic;
      margin-bottom: 10px;
      //overflow: hidden;
    }

    .save-quote-btn {
      background-color: #AB47BC;
      color: #FFF;
      border: none;
      border-radius: 3px;
      padding: 7px 15px;
      font-size: 17px;
      font-family: 'Cormorant Garamond', serif;
      cursor: pointer;
    }
  }
}

// -----------------------------------------------

.share-text-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .share-text {
    font-size: 35px;
    margin: 0;
    color: #4A148C;
  }

  .text-section-wrapper {
    width: 380px;

    .text-in-section {
      font-size: 30px;
      text-align: center;
      color: #000000;
      font-weight: 600;
    }
  }

  .add-quote-button {
    border-radius: 3px;
    border: none;
    padding: 8px 15px;
    background-color: #4A148C;
    color: #F3E5F5;
    font-size: 15px;
    cursor: pointer;
  }
}