.categories-container {

  .categories-list {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

    .category-item {
      list-style: none;
      width: 150px;
      height: 100px;
      font-size: 20px;
      text-align: center;
      background-color: #F3E5F5;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .category-type {
        text-decoration: none;
        color: #000;

        &:visited {
          color: #000;
        }
      }
    }
  }
}